body {
 	background: #292929;
    color: #ffffff;
    font: 14pt sans-serif;
    text-align: center;
}

a {
  background-color: #f44336;
  color: white;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

a:hover, a:active {
  background-color: red;
}

table, td, th {
  border: 1px solid black;
  border-collapse: collapse;
  border-spacing: 20px 10px;
  align="left" ;
  valign="top";
}

th {
 color: yellow;
}